@font-face {
  font-family: 'CircularBold';
  src: url('/font/circular/lineto-circular-bold-c.eot'); /* IE9 Compat Modes */
  src: url('/font/circular/lineto-circular-bold-c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/circular/lineto-circular-bold-c.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/circular/lineto-circular-bold-c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/font/circular/lineto-circular-bold-c.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'CircularBook';
  src: url('/font/circular/lineto-circular-book-c.eot'); /* IE9 Compat Modes */
  src: url('/font/circular/lineto-circular-book-c.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/font/circular/lineto-circular-book-c.woff') format('woff'), /* Pretty Modern Browsers */
       url('/font/circular/lineto-circular-book-c.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/font/circular/lineto-circular-book-c.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@charset "UTF-8";

@font-face {
  font-family: "callout";
  src:url("/font/callout/callout.eot");
  src:url("/font/callout/callout.eot?#iefix") format("embedded-opentype"),
    url("/font/callout/callout.woff") format("woff"),
    url("/font/callout/callout.ttf") format("truetype"),
    url("/font/callout/callout.svg#callout") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "callout" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "callout" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-warning:before {
  content: "\61";
}
.icon-icon-tip:before {
  content: "\62";
}
.icon-icon-note:before {
  content: "\63";
}
