/* Google CSE style overrides */
#google-cse {
  margin-top: 20px;
  tbody {
    background-color: transparent;
    tr {
      border-bottom: none;
    }
    td {
      padding: inherit;
      margin: inherit;
    }
  }
  form.gsc-search-box {
    margin: 10px 0 30px;
  }
  .gsc-control-cse {
    padding: 0;
    .gsc-input-box {
      height: 30px;
      padding: 0 0 0 10px;
      .gsc-input {
        box-shadow: none;
        margin: 4px 0 !important;
      }
      .gsst_a .gscb_a {
        vertical-align: middle;
      }
    }
    input.gsc-search-button {
      box-sizing: initial;
      vertical-align: middle;
      margin: 0 0 0 5px;
    }
    .gsc-tabHeader.gsc-inline-block {
      margin-top: 2px;
      background-color: transparent;
    }
  }
  .gsc-url-top, .gsc-thumbnail-inside {
    padding: 0;
  }
}

body#search-page {
  .main {
    background-color: transparent;
  }
  .tetris-top-left {
    @include tetris-top-left();
    top: 50px;
  }
  .tetris-top-right {
    @include tetris-top-right();
    top: 250px;
  }
  .tetris-mid-right {
    @include tetris-mid-right();
  }
}

#custom-search {
  padding-top: 100px;
  form {
    h1 {
      overflow: hidden;
      margin: 20px 0;
      overflow: hidden;
      .search-input {
        border: 0;
      }
      button {
        color: $link-color;
        font-size: 25px;
        line-height: 45px;
      }
    }
  }

  .product-labels {
    span.active {
      font-weight: bold;
    }
  }

  ul.pagination {
    margin: 30px 0 40px;
    > li.pagination-next-page, li.pagination-previous-page {
      display: inline-block;
    }
  }
}