$header-color: #165ECC;
$header-hover: #114CA6;
$primary-nav-fg: white;
$banner-heading-fg: white;
$showcase-content-bg: white;
$showcase-lede-fg: #485972;
$primary-nav-bg: #165ECC;
$nav-item-selected: #165ECC;
$nav-item: #165ECC;
$heading-1: #2B3D5C;
$heading-2: #2B3D5C;
$heading-3: #2B3D5C;
$heading-4: #2B3D5C;
$heading-5: #2B3D5C;
$sidebar-bg: #F5F5F5;
$footer-cta-bg: #F5F5F5;
$footer-cta-button: #FFAC00;
$label-text: #666666;
$link-color: #165ECC;
$warning-fg: #333333;
$base-fg: #333333;
$warning-border: #F79232;
$sidebar-title: #2B3D5C;
$orbit-button-bg: #64E6A4;
$homepage-header-li-bg: #1355B9;
$nav-arrow-color: #BDBDBD;
$community-value-props-input-text: #707070;
$community-value-props-input-bg: #e9e9e9;
$warning-button-text: black;
$note-border-color: #3497FF;
$tip-border-color: #654783;
$warning-border-color: #ED5451;
