.patterns a {
  font-size: 16px;
}
.patterns .title {
  color: $header-color;
  margin-bottom: 25px;
}
.patterns .subtitle {
  font-family: $adg3-font-family;
  font-weight: bold;
  font-size: 14px;
  color: #2B3D5C;
  text-transform: uppercase;
}