div.linkblock {
  margin: 40px 0 0 0;
  padding: 25px;
  background-color: #eee;
  width: 48%;
  &.text-align-right {
    float: right;
  }
  &.text-align-left {
    float: left;
  }
  img {
    height: 100px;
    &.text-align-right {
      float: left;
    }
    &.text-align-left {
      float: right;
    }
  }
  div.caption {
    &.text-align-left {
      p {

        text-align: left;
      }
    }
    &.text-align-right {
      p {
        text-align: right;
      }
    }
    p {
      font-family: $circularbook-font-family;
      margin: 0;
      &.linkblock-read {
        margin-bottom: 8px;
        color: #165ECC;
      }
      &.linkblock-section {
        color: #485972;
        font-size: 14px;
        text-transform: uppercase;
      }
      &.linkblock-text {
        color: #485972;
        line-height: 80%;
        font-size: 28px;
        font-weight: normal;
      }
    }
  }
}
//Note tip warning message styles
.message{
  width: 100%;
  min-height: 50px !important;

  text-align: left;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  padding: 0.85em 1em;
  margin: 0 0 1rem 0;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  background: none !important;
  .icon{
    width: 30px;
    min-height: 30px;
    display: block;
    float: left;
    font-size: 20px;
    padding-right: 5px;
    font-family: "callout";
  }

  p {
    display: block;
    vertical-align: middle;
    line-height: normal;
    color: $community-value-props-input-text;
    margin: 0 0 0 30px;
  }
}

.aui-message.note {
    @extend .message;
    border-color: $note-border-color;

    .icon::before{
      content: "\63";
      color: $note-border-color;
    }
  }

.aui-message.tip {
    @extend .message;
    border-color: $tip-border-color;
    // background: $tip-border-color !important;
    .icon::before {
        content: "\62";
        color: $tip-border-color;
    }

  }

.aui-message.warning {
  @extend .message;
  border-color: $warning-border-color;
  // background: $warning-border-color !important;

    .icon:before {
      content: "\61";
      color: $warning-border-color;
    }

}

@mixin external-link-icon() {
  font-family: "aui-iconfont";
  display: inline-block;
  content: "\f140";
  height: 9px;
  width: 13px;
  line-height: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

@mixin external-link() {
  &[href^="http"] {
    &::after {
      @include external-link-icon();
    }
  }
  &[href*="developer.atlassian.com"]:after {
    display: none;
  }
}

@media screen and (min-width: 46.875em) and (max-width: 55em) {
  div.linkblock {
    width: 370px;
    padding: 0;
    &.text-align-left {
      margin-left: -97px;
      padding: 25px 0 25px 93px;
    }
    &.text-align-right {
      margin-right: -97px;
      padding: 25px 93px 25px 0px;
    }
  }
}
@media screen and (min-width: 40em) and (max-width: 46.875em) {
  div.linkblock {
    width: 370px;
    margin: 0;
    &.text-align-right {
      float: left;
    }
  }
}
@media screen and (max-width: 39.9375em) {
  div.linkblock {
    width: 370px;
    margin: 0;
    &.text-align-right {
      float: left;
    }
  }
}
