$header-offset-x: -100px;
#showcase {
  h1, h2 {
    margin-bottom: 18px;
  }
  ul {
    margin-left: 0px;
  }
  li {
    margin: 8px 0 8px 0;
    list-style: none;
  }
  li.title {
    font-size: 14px;
    font-weight: bold;
  }
  .showcase-image {
    background-image: url(/img/showcase-header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 372px;
  }
  .wittifield-logo {
    width: 150px;
  }
  .zephyr-logo {
    width: 200px;
  }
  .banner {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 0;
    padding-right: 0;
    color: $banner-heading-fg;
  }
  .movetotop {
    margin-top: -75px;
    background-color: #FFF;
  }
  .banner-logo {
    margin-bottom: 1rem;
    height:50px;
  }
  .lede {
    font-size: 18px;
    font-weight: bold;
    color: $showcase-lede-fg;
    padding-top: 75px;
  }
  blockquote {
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: $header-offset-x - $showcase-content-padding-left;
    padding-left: $showcase-content-padding-left - $header-offset-x;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-left: none;
    border-right: none;

    p {
      font-size: 18px;
      color: $showcase-lede-fg;
      img.quote-profile {
        width: 130px;
        margin-right: 10px;
        margin-left: -160px;
        float: left;
      }
    }
  }
  a {
    @include external-link();
  }
  .linkblock {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 25em) {
  #showcase {
    .linkblock {
      margin-bottom: 40px;
    }
    blockquote {
      margin-left: 0;
      padding-left: 0;
      p {
        img.quote-profile {
          margin-left: 0;
          float: none;
          display: block;
          padding-bottom: 20px;
        }
      }
    }
    .linkblock {
      width: 100%;
    }
  }
}

@media screen and (min-width: 25em) and (max-width: 39.9375em) {
  #showcase {
    .linkblock {
      margin-bottom: 40px;
    }
    blockquote {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 39.9375em) {
  #showcase {
    .banner {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 46.875em) {
  #showcase {
    .linkblock {
      margin-bottom: 40px;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #showcase {
    .movetotop {
      margin-top: 0px;
    }
    .linkblock {
      margin-bottom: 40px;
    }
    .banner {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
    blockquote {
      margin-left: 0;
    }
  }
}
