.subnav {
  min-height: 67px;
  background: white;
  border-bottom: 1px solid #ccc;
  width: 100%;

  button.menu-icon {
    margin: 25px 10px 0 0;
  }

  .sidebar .title {
    font-family: $circularbold-font-family;
    font-size: 14px;
  }

  ul.menu {
    position: relative;
    top: 16px;

    li {
      font-family: $circularbook-font-family;

      a {
        font-size: 20px;
        font-weight: normal;
        height: 51px;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-left: 0rem;
        margin-right: 2rem;

        &.current {
          border-bottom: 2px solid !important;
          font-family: $circularbold-font-family;
        }

        &:hover {
          border-bottom: 2px solid;
          text-decoration: none;
        }
      }
    }
  }

  h2.sub-head-title {
    vertical-align: middle;
    position: relative;
    top: 20px;
    font-size: 21px;
    color: $heading-2;
    display: block;
    float: left;
    font-family: $circularbold-font-family;
    a {
      color: #2B3D5C;
      text-decoration: none;
    }
  }
}

.main {
  color: $base-fg;
  font-size: 14px;

  h1 {
    font-size: 36px;
    font-family: $circularbold-font-family;
    color: $heading-1;
  }

  h2 {
    font-size: 24px;
    font-family: $circularbold-font-family;
    color: $heading-2;
  }

  h3 {
    font-size: 21px;
    font-family: $circularbold-font-family;
    color: $heading-3;
  }

  h4 {
    font-size: 18px;
    font-family: $circularbold-font-family;
    color: $heading-4;
  }

  h5 {
    font-size: 15px;
    font-family: $circularbold-font-family;
    color: $heading-5;
  }
}

.subnav-mobile {
  button.menu-icon {
    margin: 23px 10px 0 0;
  }
  border-bottom: 2px solid $sidebar-bg;
  .is-accordion-submenu-parent {
    & > a, & > a:hover {
      text-decoration: none;
      padding: 15px 1px;
      h3 {
        display: inline;
      }
      .aui-icon {
        font-size: 25px;
        padding: 0 5px;
      }
    }
    .is-submenu-item {
      a.current {
        font-weight: bold;
      }
    }
  }
}
